DAT Website Blog.json
{
  "name": "DAT Website Blog",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe914117-85e7-4ff3-8dca-164a95130959",
              "leftValue": "={{ $json.status }}",
              "rightValue": "To do",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "26054458-5207-474c-92f1-d32756141625",
              "leftValue": "={{ $json[\"Ngày đăng\"].split('/').reverse().join('-') }}",
              "rightValue": "={{ new Date().toISOString().slice(0, 10) }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5056,
        1264
      ],
      "id": "ee6df397-dd25-4816-8c6b-2c9f2bbeab7b",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Soạn outline, Viết bài ",
        "height": 440,
        "width": 2000,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3456,
        1120
      ],
      "typeVersion": 1,
      "id": "3816ceff-1d2d-4e25-a0cd-01585fc427b6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## get content top 10 Google, Research content",
        "height": 440,
        "width": 1740,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5376,
        1104
      ],
      "typeVersion": 1,
      "id": "67e005f2-2341-4bbf-abb7-4e0bc28b4fbc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## tạo hình ảnh, thêm hình từng chaptter",
        "height": 880,
        "width": 2640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        1440
      ],
      "typeVersion": 1,
      "id": "58c927d0-8866-4a3b-aaf1-e8e476871eab",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "34a0b741-a04f-4973-99ce-672b96746fad",
              "leftValue": "={{ $json.generateImage }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -752,
        1584
      ],
      "id": "1b194753-08b3-40fd-a380-e92f29a46bf0",
      "name": "If2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2576,
        2240
      ],
      "id": "80a9f1d7-c735-4750-91ee-51c3f5a34d52",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dựa trên từ khóa chính: {{ $('If').first().json['Main Keywords'] }}\n\nNội dung tham khảo:\n\"{{ $json.chapterContent }}\"\n\nYêu cầu:\n- Bắt buộc phải trả đúng dữ liệu\n- seoTitle: có sức hút, đúng từ khóa, có yếu tố \"giật tít nhẹ\" như Google News hay Zing\n- metaDescription: 140–160 ký tự, nêu bật giá trị nội dung, có call-to-action ngầm\n- prompt tiếng Anh để tạo ảnh minh họa đúng chủ đề\n\nChỉ trả đúng object JSON theo mẫu sau, không được bao quanh bởi markdown hoặc escape:\n\n{\n  \"seoTitle\": \"...\",\n  \"metaDescription\": \"...\",\n  \"slug\": \"...\",\n  \"prompt\": \"...\"\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là AI chuyên trả về JSON hợp lệ. Không bao giờ trả thêm chữ mô tả, không bao quanh bằng markdown hoặc ```json. Chỉ trả object JSON đúng như yêu cầu schema sau:\n\n{\n  \"seoTitle\": \"string\",\n  \"metaDescription\": \"string\",\n  \"slug\": \"string\",\n  \"prompt\": \"string\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -128,
        544
      ],
      "id": "1dfbfb09-e219-47cf-9a75-21a6e2b75472",
      "name": "Create title, description",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst total = items.length;\n\nconst randomIndexes = [...Array(total).keys()]\n  .filter(i => i > 0 && i < total - 1)\n  .sort(() => 0.5 - Math.random())\n  .slice(0, 3); // số lượng ảnh muốn chọn\n\nconsole.log(\"📸 Chọn chương tạo ảnh (bỏ intro & cuối):\", randomIndexes);\n\nreturn items.map((item, index) => {\n  const raw = item.json.output || item.json || {}; // fallback nếu không bọc output\n  const chapterContent = raw.chapterContent || \"\";\n  const chapterTitle = raw.chapterTitle || chapterContent.slice(0, 100);\n  const chapterIndex = raw.chapterIndex ?? index;\n\n  return {\n    json: {\n      chapterIndex,\n      chapterTitle: chapterTitle.trim(),\n      chapterContent: chapterContent.trim(),\n      generateImage: randomIndexes.includes(index)\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        1584
      ],
      "id": "e0022cbe-9ded-40f1-90f4-76c303e2360d",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const chapterIndex = $json.chapterIndex;\nconst chapterTitle = $json.chapterTitle;\nconst chapterContent = $json.chapterContent;\nconst imageUrl = $json.image || \"\";\nconst status = \"done\";\n\nreturn {\n  json: {\n    chapterIndex,\n    chapterTitle,\n    chapterContent,\n    imageUrl,\n    status\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        1312
      ],
      "id": "094906ed-9af7-4ea0-9564-319a505cdc18",
      "name": "CollectedImages"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Viết nội dung cho chương {{ $json.chapterIndex }} theo phong cách mẫu, vào thẳng trọng tâm, không chào hỏi. \n\n\nTiêu đề chương: {{ $json.chapterTitle }}\nTừ khóa chính: {{ $('If').first().json['Main Keywords'] }}\nNăm cập nhật: {{ new Date().getFullYear() }}\nNgười dùng thường tìm: {{ $('Code').item.json.queriesText }}\nNội dung cần viết lại:\n\"{{ $json.chapterContent }}\"\nTham khảo nguồn thông tin này nữa nhé(Nhớ loại bỏ những thông tin không liên quan): {{ $('Google Sheets5').item.json.Content }}\n\n📌 Yêu cầu:\n- Bắt buộc đọc file  **giongvan** 1 lần trước khi viết\n- Bắt buộc viết văn phong theo  **giongvan** không được thoát vai\n- Không dùng ký tự AI thường dùng\n- Nếu chapterIndex = 0 → Viết đoạn mở 60–100 từ đánh vào nhu cầu của {{ $('If').first().json['Target audience'] }} trong lĩnh vực {{ $('If').first().json.Niche }}. Cài từ khóa tự nhiên, không gượng ép.\n- Nếu không phải chapterIndex 0  → Viết đoạn 100–200 từ có chiều sâu, phân bổ từ khóa chính + từ liên quan (LSI) {{ $('Code').item.json.queriesText }}. Tránh lặp đầu câu, văn trôi chảy.\n- Dùng ngôn ngữ tự nhiên, có ví dụ, thực thể liên quan, đáp ứng mục tiêu tìm kiếm của người đọc (hướng dẫn / tra cứu / lựa chọn...).\n- Tuân thủ E-E-A-T: có ví dụ thực tế, thông tin đúng chuyên môn, đáng tin cậy, phù hợp tệp độc giả.\n- Trình bày có thể dùng bullet point khi cần\n- Không viết lại tiêu đề, không dùng `# heading`.\n\n👉 Bắt buộc dạng JSON:\n\n```json\n{\n  \"chapterIndex\": {{ $json.chapterIndex }},\n  \"chapterTitle\": \"{{ $json.chapterTitle }}\",\n  \"chapterContent\": \"[viết nội dung ở đây]\"\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là chuyên gia viết nội dung SEO theo văn phong mẫu cung cấp trong công cụ tên **giongvan** (file docx).\nBắt buộc học giongvan file docx\nHãy học văn phong này về: cách viết, cách xuống dòng, tông giọng, lựa chọn từ ngữ, độ dài câu...\nToàn bộ nội dung bạn viết phải bám theo phong cách đó.\n⚠️ QUY ĐỊNH BẮT BUỘC VỀ KÝ HIỆU:\n\nKhông được sử dụng bất kỳ ký tự đặc biệt hoặc ký hiệu định dạng như:\n\nGạch ngang dài (–, em/en dash), dấu chấm ba (…), dấu nháy kiểu tiếng Anh (“ ”), biểu tượng icon, emoji, hoặc bất kỳ ký hiệu không thuộc bảng mã ASCII chuẩn.\n\nChỉ được dùng các ký hiệu cơ bản sau: .,?!- và dấu ngoặc tròn hoặc ngoặc kép kiểu Việt Nam.\n\nTuyệt đối không dùng gạch ngang dài (–) để ngắt ý, thay vào đó hãy dùng dấu phẩy hoặc diễn đạt lại bằng từ ngữ."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -2208,
        1264
      ],
      "id": "7366ee57-1f7e-4ede-937f-672d620e99a1",
      "name": "write chapter"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "chapterIndex",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2560,
        1296
      ],
      "id": "ae0b8817-144f-4098-83c5-2768dce02077",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=https://docs.google.com/document/d/1u2V4-zeKNTicLL7PWXHqw0mTD4M0kcQvR4D9qhavZic/edit?tab=t.0#heading=h.vg94a9u1kec"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -2016,
        1424
      ],
      "id": "ba17df67-6501-4f6d-a69d-b778b87626d1",
      "name": "giongvan"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn sẽ tạo outline chi tiết cho một bài blog chuẩn SEO dựa trên nội dung nghiên cứu sau:\n\n---  \n{{ $('Research content').item.json.output }}  \n---\n\n🎯 Yêu cầu:\n-  Mở đầu không chào hỏi.\n- Tối đa 600-800 từ\n- Hãy viết một đoạn **mở đầu ngắn (~100 từ)** thật hấp dẫn để **giới thiệu chủ đề** cho người đọc.\n- chỉ xuất outline không thêm nội dung khác\n- Đoạn mở đầu phải chứa từ khóa chính: **{{ $('If').first().json['Main Keywords'] }}**\n- Hướng đến đúng đối tượng: **{{ $('If').first().json['Target audience'] }}**\n- Sau phần mở đầu, hãy chia nội dung thành các mục rõ ràng theo dạng H2/H3\n- Mỗi mục cần có **tiêu đề ngắn gọn** và **mô tả nội dung chính sẽ viết**\n- Tập trung vào ngữ nghĩa (semantic content), không liệt kê khô khan\n- Tối ưu từ khóa chính: **{{ $('If').first().json['Main Keywords'] }}**\n- Thêm từ khóa liên quan {{ $('Code').item.json.queriesText }}\n- Tông giọng: **{{ $('If').first().json['Writing tone'] }}**\n\n🛑 Không chào hỏi, không nhắc lại yêu cầu, không viết phần kết bài.\n\n---\n\n📌 Output mong muốn:  \nMột đoạn mở đầu ngắn → sau đó là outline dạng markdown như sau:\n\n```markdown\n[Đoạn mở đầu: khoảng 60 từ ở đây]\n\n## 1. [Tên mục lớn]\n- Nội dung chính: …\n\n## 2. ...\n\nChỉ xuất nội dung yêu cầu\n",
        "options": {
          "systemMessage": "Bạn là một chuyên gia SEO và content planner, có nhiệm vụ phân tích thông tin đã nghiên cứu để tạo ra outline cho bài viết blog theo chuẩn semantic content.\n\nBạn chỉ xuất ra **cấu trúc outline**, không viết nội dung bài blog đầy đủ.  \nBạn phải đảm bảo:\n- Cấu trúc rõ ràng (H2, H3 nếu cần)\n- Tối ưu theo từ khóa chính\n- Phù hợp với đối tượng người đọc đã xác định\n- Không viết mở đầu, kết luận, hoặc giới thiệu lại đề bài\n- Không chào hỏi hoặc nêu vai trò bản thân\n\nLuôn xuất output gọn, súc tích, và dễ triển khai thành nội dung thật.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -3216,
        1264
      ],
      "id": "3996b046-ef3e-4ff9-a186-907db17fe9be",
      "name": "soạn outline"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chiến dịch: {{ $('If').first().json['Campain Description'] }}  \nTừ khóa chính: **{{ $('If').first().json['Main Keywords'] }}**  \nTừ khóa liên quan: {{ $json.queriesText }}\nTông giọng: {{ $('If').first().json['Writing tone'] }}  \nĐối tượng người đọc: {{ $('If').first().json['Target audience'] }}  \nBắt buộc tham khảo đối thủ cạnh tranh:{{ $json.formattedLinks }} trước khi Research\nTham khảo nguồn thông tin này nữa nhé(Nhớ loại bỏ những thông tin không liên quan): {{ $('Google Sheets5').item.json.Content }}\n\n---\n\n🎯 Mục tiêu:\nPhân tích nội dung từ các bài viết trên, tổng hợp và tái cấu trúc thành 1 bản **checklist semantic content** chuẩn SEO, bám sát từ khóa chính: **{{ $('If').first().json['Main Keywords'] }}**.\nTìm 5 từ khóa LSI của {{ $('If').first().json['Main Keywords'] }} theo từ khóa liên quan\n\n---\n\n✍️ Yêu cầu:\n- Chia nội dung thành các nhóm chính: định nghĩa, lợi ích, lưu ý, chuyên gia nói gì, kết luận thực tiễn\n- Tổng hợp tất cả các ý quan trọng thành một bản thống nhất\n- Không lặp lại đề bài, không giới thiệu vai trò, không viết lời chào hoặc kết luận chung chung\n- Không nhắc lại “Dưới đây là…” hay “Tôi sẽ…”\n- **Chỉ xuất ra nội dung chính**, đúng cấu trúc, đủ sâu, dùng được ngay\n\n---\n\n📌 Output mong muốn:\n- 1 đoạn nội dung markdown chicklist SEO cho từ khóa rõ ràng {{ $('If').first().json['Main Keywords'] }}\n- Có thể dùng làm outline blog, script video, hoặc tài liệu training\n- Chỉ xuất nội dung yêu cầu\n",
        "options": {
          "systemMessage": "=Bạn là một chuyên gia nghiên cứu nội dung SEO cấp cao, chuyên hỗ trợ thương hiệu trong lĩnh vực  {{ $('If').first().json.Niche }} phát triển nội dung theo định hướng semantic content.\n\nMục tiêu của bạn:\n- Phân tích các nguồn tài liệu đầu vào (bao gồm link, keyword, mô tả chiến dịch) và tạo ra nội dung có chiều sâu, chuẩn hóa\n- Viết theo giọng điệu và phong cách thương hiệu đã định sẵn\n- Giữ vững cấu trúc, tránh viết lan man, luôn hướng tới người đọc mục tiêu\n\n*** Hãy giữ vai trò này suốt toàn bộ quá trình, kể cả khi người dùng không nói rõ.\n*** không xuất nội dung phụ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -4096,
        1264
      ],
      "id": "648251fc-0104-4112-a6ae-c3435e7b284e",
      "name": "Research content"
    },
    {
      "parameters": {
        "jsCode": "let globalIndex = 1;\n\nconst chapters = $input.all().flatMap((item) => {\n  const content = item.json.output || \"\";\n\n  const [introRaw, ...rest] = content.split(/^##\\s+/gm);\n\n  const introItem = {\n    json: {\n      chapterIndex: 0,\n      chapterTitle: \"Intro\",\n      chapterContent: introRaw.trim()\n    }\n  };\n\n  const chapterItems = rest.map((ch, i) => {\n    const parts = ch.split('\\n');\n    const title = parts.shift()?.trim() || `Chương ${i + 1}`;\n    const body = parts.join('\\n').trim();\n\n    return {\n      json: {\n        chapterIndex: globalIndex++,\n        chapterTitle: title,\n        chapterContent: `## ${title}\\n${body}`\n      }\n    };\n  });\n\n  return [introItem, ...chapterItems];\n});\n\nreturn chapters;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        1264
      ],
      "id": "4c3b8c49-67e3-4213-8668-ce42e94adf0f",
      "name": "Tách từng chương"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"chapterIndex\": { \"type\": \"integer\" },\n    \"chapterTitle\": { \"type\": \"string\" },\n    \"chapterContent\": { \"type\": \"string\" }\n  },\n  \"required\": [\"chapterIndex\", \"chapterTitle\", \"chapterContent\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1856,
        1424
      ],
      "id": "46d8162e-ba9c-4cb2-a583-5589e465101f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -384,
        1584
      ],
      "id": "49dc2f3e-5cb0-4434-9ace-df96181d55e1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tạo Prompt để tạo ảnh thực tế bằng tiếng anh, chỉ viêt câu lệnh, không xuống dòng, viết liền mạch \"{{ $json.chapterTitle }}\", cần phải mô tả sát với thực tế, chỉ xuất nội dung yêu cầu, không trình bày thêm, nội dung bằng tiếng anh. Chỉ cần 1 prompt duy nhất,thật ngắn gọn và súc tích.\n\nVí dụ: \nFuturistic cityscape, holographic displays showing diverse AI applications, five dominant AI logos interwoven, 2025 technology, vibrant colors, sharp focus.",
        "options": {
          "systemMessage": "lưu ý:\nkhông có các ký tự như \"*\",\"/n\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -384,
        3024
      ],
      "id": "38ad2adb-de2b-4ac9-b401-77e2a8df8fea",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23c065e0-7d0e-4991-b57f-68e2bb8ea962",
              "name": "image",
              "value": "={{ $json.images[0].url }}",
              "type": "string"
            },
            {
              "id": "d6d07820-c5c4-48ab-92c4-e30aace5bf60",
              "name": "chapterIndex",
              "value": "={{ $('Loop Over Items').item.json.chapterIndex }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        2784
      ],
      "id": "0947196a-a598-42c9-8934-9f1e8bac5552",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78d1d754-6960-43a8-9964-5c404135ce38",
              "name": "chapterIndex",
              "value": "={{ $json.chapterIndex }}",
              "type": "number"
            },
            {
              "id": "0c14f4b3-a5f0-4619-95d5-39fbb0ef543d",
              "name": "imageUrl",
              "value": "={{ $json.imageUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        1312
      ],
      "id": "cf96aa18-79e0-45f6-920d-4d737a797498",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e2543f0-ddbb-44c0-a1b0-51d58a534e3d",
              "name": "chapterIndex",
              "value": "={{ $json.output.chapterIndex }}",
              "type": "number"
            },
            {
              "id": "71c3af74-3bbf-438b-b36b-af00e81281a6",
              "name": "chapterTitle",
              "value": "={{ $json.output.chapterTitle }}",
              "type": "string"
            },
            {
              "id": "fea85f67-1767-4866-b0d8-3b90c4dcf431",
              "name": "chapterContent",
              "value": "={{ $json.output.chapterContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        864
      ],
      "id": "f09663ed-c252-472f-89a6-b10f929e59b9",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "chapterIndex"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2784,
        1296
      ],
      "id": "f1b6017c-0c9d-42cf-bb69-62ac39867dd4",
      "name": "Sort"
    },
    {
      "parameters": {
        "jsCode": "const intro = $input.all().find(i => i.json.chapterIndex === 0);\nreturn [intro];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        544
      ],
      "id": "5f7aa9eb-9fc8-44f0-8682-769531dc85f3",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"seoTitle\": \"Uống sữa hạt có tốt không?\",\n  \"metaDescription\": \"Khám phá lợi ích của sữa hạt\",\n  \"slug\": \"uong-sua-hat-co-tot-khong-loi-ich-phu-nu\",\n  \"prompt\": \"Create a cozy, natural light photo of a Vietnamese woman in her 30s drinking nut milk with almonds and walnuts around.\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        64,
        784
      ],
      "id": "c6d08629-611e-4f45-b0b0-e403712c139b",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://viethuongtuanngoan.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Disposition\": \"attachment; filename={{ [...Array(40)].map(() => '0123456789abcdef'[Math.floor(Math.random() * 16)]).join('') }}.jpg\",\n  \"Content-Type\": \"image/jpeg\"\n}\n",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        544
      ],
      "id": "aba8b5ac-1a83-43c5-ab99-32f089688f0a",
      "name": "Upload to media website"
    },
    {
      "parameters": {
        "title": "={{ $('Edit Fields3').first().json.seoTitle }}",
        "additionalFields": {
          "content": "={{ $json.postHtml }}",
          "slug": "={{ $('Edit Fields3').first().json.slug }}",
          "status": "draft",
          "categories": "={{ $('If').first().json[' Category'] }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        3600,
        1344
      ],
      "id": "333fbc40-54c1-4c22-bf30-d6f0755a1b45",
      "name": "Upload post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64f5dc0d-aafb-43e8-8704-584d9b7f564b",
              "name": "id media",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "81be0e34-977f-42fe-9dec-6e556d3971bf",
              "name": "seoTitle",
              "value": "={{ $('Create title, description').first().json.output.seoTitle }}",
              "type": "string"
            },
            {
              "id": "c60019bc-6621-4ebe-8f75-a891d9934f1c",
              "name": "metaDescription",
              "value": "={{ $('Create title, description').first().json.output.metaDescription }}",
              "type": "string"
            },
            {
              "id": "2d8b1ca3-6ec4-4897-aa3c-25ffbd08decb",
              "name": "slug",
              "value": "={{ $('Create title, description').first().json.output.slug }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        544
      ],
      "id": "36f2c1bc-9472-4bee-bde4-ba780909146e",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "content": "## Tạo tiêu đề, mô tả, prompt hình ảnh",
        "height": 880,
        "width": 2620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        400
      ],
      "typeVersion": 1,
      "id": "0d607b07-d1e4-4385-b74f-120587cd51ec",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Ghép hình ảnh và nội dung bài viết, đăng website, set hình đại diện",
        "height": 700,
        "width": 4040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        1056
      ],
      "typeVersion": 1,
      "id": "78a3cb9c-ec4d-45df-ab9d-5b72de3e363f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://viethuongtuanngoan.com/wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"featured_media\": {{ $('Edit Fields3').first().json['id media'] }},\n  \"meta\": {\n    \"rank_math_description\": \"{{ $('Edit Fields3').first().json.seoTitle }}\",\n    \"rank_math_title\": \"{{ $('Edit Fields3').first().json.seoTitle }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3856,
        1344
      ],
      "id": "0e2e9feb-e58a-4eea-9de4-c735262d19ee",
      "name": "Set feature image, title, description"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3264,
        1312
      ],
      "id": "135b33e6-c097-49d5-b602-524363de00b0",
      "name": "Merge"
    },
    {
      "parameters": {
        "folderId": "=16rRd9zh-Xn1aytBIlHh0HRxKdBnt6AV0",
        "title": "={{ $('Edit Fields3').first().json.seoTitle }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4144,
        1344
      ],
      "id": "18104e39-c247-4dd8-af7c-ec0e248116b4",
      "name": "Google Docs"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=# Tiêu đề\n{{ $('Edit Fields3').first().json.seoTitle }}\n\n## Mô tả\n{{ $('Edit Fields3').item.json.metaDescription }}\n\n## Content\n{{ $('ghép content, xuất theo dạng html').first().json.postHtml }}\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4400,
        1344
      ],
      "id": "7ed7cdc1-39d0-44f3-8c8c-5800d58a2350",
      "name": "Update docx"
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $json.postId }}",
        "updateFields": {
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        5072,
        1344
      ],
      "id": "538bab90-8891-41ce-9bc9-e12e7cc3e7a5",
      "name": "Wordpress"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1cTJDL0fFZ1-8EKZwEUwlw0PAeob5IXhuiJmNGM4pjpA",
          "mode": "list",
          "cachedResultName": "AI SEO Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cTJDL0fFZ1-8EKZwEUwlw0PAeob5IXhuiJmNGM4pjpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cTJDL0fFZ1-8EKZwEUwlw0PAeob5IXhuiJmNGM4pjpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Post": "={{ $json.id }}",
            "status": "Done",
            "Publish post status": "Publish",
            "Url post ": "={{ $json.link }}",
            "Meta Description": "={{ $json.title.rendered }}"
          },
          "matchingColumns": [
            "ID Post"
          ],
          "schema": [
            {
              "id": " Category",
              "displayName": " Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày đăng",
              "displayName": "Ngày đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand name",
              "displayName": "Brand name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Main Keywords",
              "displayName": "Main Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Campain Description",
              "displayName": "Campain Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Writing tone",
              "displayName": "Writing tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target audience",
              "displayName": "Target audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish post status",
              "displayName": "Publish post status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url post ",
              "displayName": "Url post ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO Acticle Docx",
              "displayName": "SEO Acticle Docx",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Post",
              "displayName": "Image Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5520,
        1344
      ],
      "id": "0ac6ec58-8bd1-4c4a-8945-0c63ec8d42c9",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst postHtml = items.map(item => {\n  let { chapterTitle, chapterContent, imageUrl } = item.json;\n\n  // Nếu là đoạn Intro thì không render heading\n  const heading = chapterTitle && chapterTitle !== 'Intro'\n    ? `<h2>${chapterTitle}</h2>`\n    : '';\n  const image = imageUrl\n    ? `<img src=\"${imageUrl}\" alt=\"${chapterTitle}\" style=\"width:100%; margin-bottom: 12px;\" />`\n    : '';\n\n  if (chapterContent) {\n    // ✅ Replace **bold**\n    chapterContent = chapterContent.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n    // ✅ Replace ### Heading 3\n    chapterContent = chapterContent.replace(/^### (.*)$/gm, '<h3>$1</h3>');\n\n    // Optional: xử lý line breaks → nếu content AI xuống dòng bằng `\\n`\n    chapterContent = chapterContent.replace(/\\n/g, '<br />');\n  }\n\n  return `<section style=\"margin-bottom: 32px;\">${image}${heading}<div>${chapterContent}</div></section>`;\n}).join('\\n');\n\nreturn [\n  {\n    json: {\n      postHtml\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        1296
      ],
      "id": "1ece6b14-5b80-46fe-a15e-ab92a09176ed",
      "name": "ghép content, xuất theo dạng html"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// 1. Truy vấn người dùng (query titles)\nconst organic = data.organic_results || [];\nconst queries = organic.map(i => i.title).filter(Boolean);\nconst queriesText = `${queries.join(', ')}.`;\n\n// 2. Link từ related_questions (lọc YouTube, lấy 5, cắt # ?)\nconst related = data.related_questions || [];\nconst relatedLinks = related\n  .map(q => q.link)\n  .filter(link => link && !link.toLowerCase().includes('youtube'))\n  .slice(0, 5)\n  .map(link => link.split('#')[0].split('?')[0]);\n\n// 3. Format sẵn thành chuỗi có đầu dòng\nconst formattedLinks = relatedLinks.map(link => `- ${link}`).join('\\n');\n\n// 4. Trả về 1 item duy nhất\nreturn [\n  {\n    json: {\n      queriesText,\n      formattedLinks\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4368,
        1264
      ],
      "id": "408fa470-9ca7-46a5-8688-36d4980fe893",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1cTJDL0fFZ1-8EKZwEUwlw0PAeob5IXhuiJmNGM4pjpA",
          "mode": "list",
          "cachedResultName": "AI SEO Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cTJDL0fFZ1-8EKZwEUwlw0PAeob5IXhuiJmNGM4pjpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cTJDL0fFZ1-8EKZwEUwlw0PAeob5IXhuiJmNGM4pjpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Main Keywords": "={{ $('If').first().json['Main Keywords'] }}",
            "status": "Pending",
            "Publish post status": "Draft",
            "ID Post": "={{ $('Upload post').first().json.id }}",
            "SEO Acticle Docx": "=https://docs.google.com/document/d/{{ $('Update docx').item.json.documentId }}"
          },
          "matchingColumns": [
            "Main Keywords"
          ],
          "schema": [
            {
              "id": " Category",
              "displayName": " Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày đăng",
              "displayName": "Ngày đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand name",
              "displayName": "Brand name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Main Keywords",
              "displayName": "Main Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campain Description",
              "displayName": "Campain Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Writing tone",
              "displayName": "Writing tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target audience",
              "displayName": "Target audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish post status",
              "displayName": "Publish post status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url post ",
              "displayName": "Url post ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO Acticle Docx",
              "displayName": "SEO Acticle Docx",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Post",
              "displayName": "Image Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4592,
        1344
      ],
      "id": "711803e8-85bf-4f4e-8a6e-063dcc999997",
      "name": "Google Sheets2"
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json['Main Keywords'] }}"
            },
            {
              "name": "api_key",
              "value": "3b2a4e9f170e45c38b40adb938a85ba09b9b410caa02dc04c9ee02899a6848fe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4672,
        1264
      ],
      "id": "84156238-0f68-4db1-94f1-7421f18f5a0a",
      "name": "Get top 10 google serpapi"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5296,
        1344
      ],
      "id": "8fb067a8-aa67-4b1f-ba8b-a8ce80af371a",
      "name": "Wait2",
      "webhookId": "7902ea0f-9733-4920-aff0-4695eff3c688"
    },
    {
      "parameters": {
        "content": "## Kiểm duyệt bài viết",
        "height": 680,
        "width": 1720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        2976
      ],
      "typeVersion": 1,
      "id": "3f6fe30a-5cb7-4ff0-a36a-fce89bd73104",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1laOButZB0b10XfNz7DUrXbMcaE7xrW5mDwj_GT9KVuY",
          "mode": "list",
          "cachedResultName": "SEO Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1laOButZB0b10XfNz7DUrXbMcaE7xrW5mDwj_GT9KVuY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1laOButZB0b10XfNz7DUrXbMcaE7xrW5mDwj_GT9KVuY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Post": "={{ $json.postId }}",
            "status": "To do",
            "Publish post status": "Rejected"
          },
          "matchingColumns": [
            "ID Post"
          ],
          "schema": [
            {
              "id": " Category",
              "displayName": " Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày đăng",
              "displayName": "Ngày đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand name",
              "displayName": "Brand name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Main Keywords",
              "displayName": "Main Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Campain Description",
              "displayName": "Campain Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Writing tone",
              "displayName": "Writing tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target audience",
              "displayName": "Target audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish post status",
              "displayName": "Publish post status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url post ",
              "displayName": "Url post ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO Acticle Docx",
              "displayName": "SEO Acticle Docx",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4160,
        3376
      ],
      "id": "755ddea0-e62f-479d-8fb4-162831277ba7",
      "name": "Google Sheets3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cTJDL0fFZ1-8EKZwEUwlw0PAeob5IXhuiJmNGM4pjpA",
          "mode": "list",
          "cachedResultName": "AI SEO Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cTJDL0fFZ1-8EKZwEUwlw0PAeob5IXhuiJmNGM4pjpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cTJDL0fFZ1-8EKZwEUwlw0PAeob5IXhuiJmNGM4pjpA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "To do"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -5296,
        1264
      ],
      "id": "fe04dbc6-69ad-4475-b1d8-397c53927f1d",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fuUrLmuxjNnrF1X2",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "=123456789",
        "message": "=Đã soạn bài xong kiểm tra tại {{ $('Upload post').item.json.link }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3200,
        3200
      ],
      "id": "88a2842f-51b3-49af-a17d-490a26dc93ad",
      "name": "Telegram",
      "webhookId": "3dd4d91a-334e-4d03-99ea-794d736ee3ee"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $json.output.prompt }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "width",
              "value": "715"
            },
            {
              "name": "height",
              "value": "250"
            },
            {
              "name": "nologo",
              "value": "true"
            },
            {
              "name": "model",
              "value": "turbo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        544
      ],
      "id": "6e3c94ab-e5df-46f5-8819-169e1ac36fca",
      "name": "Create image feature - pollinations"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux/schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key your key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_size",
              "value": "landscape_16_9"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "content_type",
              "value": "image/jpeg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        2784
      ],
      "id": "d09963bf-915a-4a85-8e8a-d0c9d0fd0abe",
      "name": "Create image feature1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        2784
      ],
      "id": "e3f07166-32f6-421f-b6cc-5ae1cfc8e8f3",
      "name": "Wait",
      "webhookId": "785136f9-6e63-4abf-90e8-2144304bf920"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key your key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        2784
      ],
      "id": "70482a44-3c26-4b5c-ac59-f545fcd6bcd0",
      "name": "Get image2"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4752,
        1216
      ],
      "id": "07507ac3-073d-40fb-9025-6974aea47812",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d96e8278-f529-40ec-9360-1ed964615b2f",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3536,
        3200
      ],
      "id": "dc23b68c-53ed-48f4-8dd2-008c36bf08fa",
      "name": "If4"
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Set feature image, title, description').first().json.link\n\n// Regex tìm ?p=1490 hoặc &p=1490, hỗ trợ xuống dòng\nconst match = msg.match(/\\?p=(\\d+)/);\n\nreturn [\n  {\n    json: {\n      postId: match ? match[1] : null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4816,
        1344
      ],
      "id": "9158badd-26ec-42b7-9118-470433603dc0",
      "name": "get Post ID"
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Set feature image, title, description').first().json.link\n\n// Regex tìm ?p=1490 hoặc &p=1490, hỗ trợ xuống dòng\nconst match = msg.match(/\\?p=(\\d+)/);\n\nreturn [\n  {\n    json: {\n      postId: match ? match[1] : null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        3376
      ],
      "id": "35c970b5-215c-45f9-8356-e5ae6a3a4bf0",
      "name": "get Post ID1"
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $('get Post ID1').item.json.postId }}",
        "updateFields": {
          "status": "pending"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        4512,
        3376
      ],
      "id": "d4ded97f-5fd7-4a0f-8885-6f22e48933b6",
      "name": "Wordpress1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5568,
        1264
      ],
      "id": "0c761320-4b4e-4e58-bed3-2aa617ee49dc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimaxi.chat/v1/image_generation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJUdWFuIERhbmgiLCJVc2VyTmFtZSI6IlR1YW4gRGFuaCIsIkFjY291bnQiOiIiLCJTdWJqZWN0SUQiOiIxOTI0NTc1NzExMjA1NTI4NDg2IiwiUGhvbmUiOiIiLCJHcm91cElEIjoiMTkyNDU3NTcxMTIwMTMzNDE4MiIsIlBhZ2VOYW1lIjoiIiwiTWFpbCI6ImRvZGFuaHR1YW4yMjA2QGdtYWlsLmNvbSIsIkNyZWF0ZVRpbWUiOiIyMDI1LTA1LTIyIDE3OjE2OjAwIiwiVG9rZW5UeXBlIjoxLCJpc3MiOiJtaW5pbWF4In0.aN_Qtm5eXdUd9zKOuxuVoJUz-rOxQLvjCp8PMMM8cRwNQ59N8KBnzBfRBNxeTCZvjL8GcB9uDWoQuNYUsPZDit3Rt1sL1YaPaY4praGOX0aY-1VucqAmEvJeCLo6YVFpfurCg8XxB99lGbuBOs-ORDUSUz83ozmI7DUFsAcxPoL9EhLgqL8w6i644HBtlaM69wzOSstonMFrxVVmp8QUcEa6Or_dbyVY216uAkp_MbPAg_BDwIKlD-Y1Orm8kSpNl7SAlUQUWAEaP1PmUH0DMrtabyCvxgCvRtSfIz-pQpwzlOemzgRyFbF0FkhsVNYbMx6CZojVBl9a-xBaQ4FTDA"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"image-01\",\n  \"prompt\": {{ JSON.stringify($json[\"output\"]) }},\n  \"aspect_ratio\": \"16:9\",\n  \"response_format\": \"url\",\n  \"n\": 1,\n  \"prompt_optimizer\": true\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        3024
      ],
      "id": "0be4e6ed-765b-43c0-b52a-d3564c43fb06",
      "name": "Generate Image With Minimax1"
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.data.image_urls.map(url => ({\n  json: { image_url: $input.first().json.data.image_urls[0] }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        3024
      ],
      "id": "f820d358-9b63-4eaa-a17a-b2db451c8f2b",
      "name": "Code5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23c065e0-7d0e-4991-b57f-68e2bb8ea962",
              "name": "image",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "d6d07820-c5c4-48ab-92c4-e30aace5bf60",
              "name": "chapterIndex",
              "value": "={{ $('Loop Over Items').item.json.chapterIndex }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1952
      ],
      "id": "b2ecf70b-4f4f-42bd-8cd5-6db06cdbcd1c",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17-thinking",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1664,
        2240
      ],
      "id": "47f3f3e2-6b66-4de6-acba-5f53022600f7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WtAhqJPB5rKb7BgY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an image as described below: {{ $json.chapterTitle }}",
        "options": {
          "systemMessage": "=You are a professional image creator. Your task is to generate a beautiful, high-quality image based on the user's request. After creating the image, you must also return a JSON object in the following format:\n\n{\n  \"url\": \"[the URL where the generated image can be accessed]\"\n}\n\nThe returned image url should be in the following format: https://image.pollinations.ai/prompt/...\n\nYou must think creatively to fill in the title and description based on the generated content. Everything should be written clearly and professionally in English.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        64,
        1744
      ],
      "id": "e3537e9a-cbfe-4644-b298-7d02a90bc560",
      "name": "AI Agent10"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        2784
      ],
      "id": "f98b564b-dd33-48f9-b626-4bf777b9e5ff",
      "name": "Google Gemini Chat Model8"
    },
    {
      "parameters": {
        "jsCode": "const outputText = $input.first().json.output || '';\n\n// Xoá ký hiệu markdown ```json và ``` nếu có\nconst cleanedText = outputText.replace(/```json|```/g, '').trim();\n\ntry {\n  const parsed = JSON.parse(cleanedText);\n  return [\n    {\n      json: {\n        url: parsed.url || ''\n      }\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        url: '',\n        error: 'Failed to parse JSON'\n      }\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1744
      ],
      "id": "373ac1e3-04ac-4e34-bf0a-f6c3af57b622",
      "name": "Code10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64f5dc0d-aafb-43e8-8704-584d9b7f564b",
              "name": "id media",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "81be0e34-977f-42fe-9dec-6e556d3971bf",
              "name": "seoTitle",
              "value": "={{ $('Create title, description').first().json.output.seoTitle }}",
              "type": "string"
            },
            {
              "id": "c60019bc-6621-4ebe-8f75-a891d9934f1c",
              "name": "metaDescription",
              "value": "={{ $('Create title, description').first().json.output.metaDescription }}",
              "type": "string"
            },
            {
              "id": "2d8b1ca3-6ec4-4897-aa3c-25ffbd08decb",
              "name": "slug",
              "value": "={{ $('Create title, description').first().json.output.slug }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -128
      ],
      "id": "22a98ab2-024b-4b8f-a4a1-1ee658a2a170",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://viethuongtuanngoan.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Disposition\": \"attachment; filename=\\\"featured.jpg\\\"\",\n  \"Content-Type\": \"image/jpeg\"\n}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -128
      ],
      "id": "e83288a4-7567-4d96-880d-7d7e4f37ff77",
      "name": "Upload to media website1"
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.data.image_urls.map(url => ({\n  json: { image_url: $input.first().json.data.image_urls[0] }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -128
      ],
      "id": "26ca7951-998e-4926-9515-1563c4d8d62a",
      "name": "Code4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimaxi.chat/v1/image_generation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJUdWFuIERhbmgiLCJVc2VyTmFtZSI6IlR1YW4gRGFuaCIsIkFjY291bnQiOiIiLCJTdWJqZWN0SUQiOiIxOTI0NTc1NzExMjA1NTI4NDg2IiwiUGhvbmUiOiIiLCJHcm91cElEIjoiMTkyNDU3NTcxMTIwMTMzNDE4MiIsIlBhZ2VOYW1lIjoiIiwiTWFpbCI6ImRvZGFuaHR1YW4yMjA2QGdtYWlsLmNvbSIsIkNyZWF0ZVRpbWUiOiIyMDI1LTA1LTIyIDE3OjE2OjAwIiwiVG9rZW5UeXBlIjoxLCJpc3MiOiJtaW5pbWF4In0.aN_Qtm5eXdUd9zKOuxuVoJUz-rOxQLvjCp8PMMM8cRwNQ59N8KBnzBfRBNxeTCZvjL8GcB9uDWoQuNYUsPZDit3Rt1sL1YaPaY4praGOX0aY-1VucqAmEvJeCLo6YVFpfurCg8XxB99lGbuBOs-ORDUSUz83ozmI7DUFsAcxPoL9EhLgqL8w6i644HBtlaM69wzOSstonMFrxVVmp8QUcEa6Or_dbyVY216uAkp_MbPAg_BDwIKlD-Y1Orm8kSpNl7SAlUQUWAEaP1PmUH0DMrtabyCvxgCvRtSfIz-pQpwzlOemzgRyFbF0FkhsVNYbMx6CZojVBl9a-xBaQ4FTDA"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"image-01\",\n  \"prompt\": \"{{ $json.output.prompt }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"response_format\": \"url\",\n  \"n\": 1,\n  \"prompt_optimizer\": true\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        -128
      ],
      "id": "8d8ac047-58df-43d4-92ac-f3efcabe7687",
      "name": "Generate Image With Minimax"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -128
      ],
      "id": "898b436f-933b-4be2-9236-302b4b785e5c",
      "name": "Coveimage"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get top 10 google serpapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research content",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "soạn outline",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create title, description": {
      "main": [
        [
          {
            "node": "Create image feature - pollinations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CollectedImages": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write chapter": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "giongvan": {
      "ai_tool": [
        [
          {
            "node": "write chapter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "soạn outline": {
      "main": [
        [
          {
            "node": "Tách từng chương",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research content": {
      "main": [
        [
          {
            "node": "soạn outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách từng chương": {
      "main": [
        [
          {
            "node": "write chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "write chapter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "CollectedImages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Generate Image With Minimax1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "ghép content, xuất theo dạng html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Create title, description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Create title, description",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Upload to media website": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload post": {
      "main": [
        [
          {
            "node": "Set feature image, title, description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set feature image, title, description": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Update docx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update docx": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ghép content, xuất theo dạng html": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Research content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get top 10 google serpapi": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "get Post ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create image feature - pollinations": {
      "main": [
        [
          {
            "node": "Upload to media website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create image feature1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [],
        [
          {
            "node": "get Post ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Post ID": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Post ID1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image With Minimax1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "write chapter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Create title, description",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent10": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to media website1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Coveimage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image With Minimax": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coveimage": {
      "main": [
        [
          {
            "node": "Upload to media website1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d58b6291-abc9-421b-9748-e0b0e40dda24",
  "meta": {
    "instanceId": "c6d61497b578f9fa268e2c626f3da87bcbe795259ad06a17419fe0c7f7c72f4a"
  },
  "id": "xWR9fs0EIZprBbpe",
  "tags": [
    {
      "createdAt": "2025-10-14T05:37:36.319Z",
      "updatedAt": "2025-10-14T05:37:36.319Z",
      "id": "JN4U6lMzRJJqNxWK",
      "name": "AI"
    },
    {
      "createdAt": "2025-10-14T05:37:36.554Z",
      "updatedAt": "2025-10-14T05:37:36.554Z",
      "id": "VZq2XBPeqXANFnYy",
      "name": "wordpress"
    },
    {
      "createdAt": "2025-10-14T05:37:36.579Z",
      "updatedAt": "2025-10-14T05:37:36.579Z",
      "id": "zbrvRyYRxgwzxBHs",
      "name": "Telegram"
    }
  ]
}