Generate ASMR VEO3 Video (1).json
{
  "name": "Generate ASMR VEO3 Video",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JxuOOMXf8Acbt4lud0MfiB-x4ULzEDAJGIob8rRh8DU",
          "mode": "list",
          "cachedResultName": "VEO3 IDEAS ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JxuOOMXf8Acbt4lud0MfiB-x4ULzEDAJGIob8rRh8DU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JxuOOMXf8Acbt4lud0MfiB-x4ULzEDAJGIob8rRh8DU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Done",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1728,
        192
      ],
      "id": "ce137b69-4a21-42e1-8f5f-31c43007e40a",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IkQMQjtg547sYWpA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Ideas }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Bạn sẽ được cung cấp ý tưởng cho một video ngắn. Bạn có ba nhiệm vụ.\nNhiệm vụ đầu tiên và quan trọng nhất của bạn là biến ý tưởng video đó thành một video hướng dẫn cắt \"trái cây thủy tinh\" ASMR với yếu tố bất ngờ (dịch lỏng hoặc phản ứng hóa học).\nNhiệm vụ thứ hai là tạo một tiêu đề ngắn cho video.\nNhiệm vụ thứ ba là tạo một đoạn mô tả ngắn sẽ được sử dụng cho video, tương tự như mô tả theo phong cách Tiktok và Instagram.\n\n## Hướng dẫn và Ví dụ về Video Hướng dẫn Cắt Văn bản Thành Video\n\nMột cảnh quay cận cảnh siêu thực, đậm chất điện ảnh của một vật thể hoàn chỉnh (có thể là quả dâu, quả cam, quả táo hoặc vật thể bất kỳ), được chế tác hoàn toàn bằng thủy tinh trong suốt, sáng bóng.\nVật thể được đặt trên một bề mặt phẳng, được chiếu sáng bởi ánh sáng studio dịu nhẹ, làm nổi bật kết cấu phản chiếu tinh xảo và độ trong suốt mong manh.\n\nMột bàn tay người tiến hành cắt một cách dứt khoát và chính xác xuyên qua vật thể thủy tinh bằng một con dao sắc, tạo nên tiếng nứt rạn vang lên rõ ràng.\nNgay khoảnh khắc dao chạm lõi, một chất dịch lỏng đặc biệt bắt đầu chảy ra—có thể là mật ong vàng, nước phát sáng màu xanh, sương lạnh trào ngược, hoặc bọt phản ứng hóa học sủi bọt mạnh—tùy theo tính chất riêng của từng vật thể.\n\nỐng kính macro ghi lại từng chi tiết: từ vết nứt sắc bén, mảnh vỡ lấp lánh, đến chất lỏng chảy lan, phản ứng sủi bọt, hay khí lạnh lan tỏa.\nVideo không có lời thoại hay nhạc nền—chỉ có âm thanh nguyên bản của thủy tinh vỡ, chất lỏng tràn, phản ứng hóa học bất ngờ—mang lại trải nghiệm ASMR sâu sắc và ấn tượng thị giác.\n\nVideo chỉ xuất hiện bàn tay, con dao và vật thể thủy tinh, tất cả được quay cố định với tiêu cự siêu sắc nét, độ sâu trường ảnh nông, ánh sáng ấm áp hoặc kịch tính tuỳ ý đồ nghệ thuật.\n\nVí dụ (Trái đất thủy tinh):\nMột quả cầu trái đất bằng thủy tinh trong suốt với sắc xanh lam và xanh lục nhẹ nhàng. Khi bị cắt dứt khoát bởi một con dao sắc, bề mặt nứt toạc và dòng chất lỏng nóng đỏ như dung nham từ bên trong bắt đầu trào ra, phát sáng rực rỡ. Khói mỏng bốc lên nhẹ và tiếng sủi phát ra nhỏ nhưng rõ. Mọi chi tiết được ghi lại sắc nét: tiếng rạn nứt, dòng chảy, phản ứng, tạo nên một trải nghiệm đắm chìm tuyệt đối.\n\n🔧 Mẹo tùy chỉnh:\n- Hoán đổi vật thể (dâu thủy tinh, hành tây thủy tinh, TV thủy tinh,...).\n- Thay đổi chất dịch bên trong: vàng lấp lánh, đỏ như máu, phát sáng xanh, bọt khí trắng,...\n- Chỉ định kiểu cắt: thẳng dứt khoát, cắt nghiêng, rạch nổ.\n- Tùy chỉnh phản ứng: phun sương, sủi bọt, bốc khói, phát sáng,...\n- Điều chỉnh ánh sáng: ấm áp – kịch tính – neon lạnh.\n- Lý tưởng cho các nhà tạo video AI, filmmaker, hoặc người sáng tạo TikTok/Instagram ASMR muốn tạo footage visual độc đáo có twist bất ngờ.\n\n***Example Output***\n\n{\n\t\"prompt\": \"A hyper-realistic, cinematic close-up of a perfectly round Earth-shaped sphere made entirely of shiny, transparent glass with faint blue and green swirls resembling oceans and continents. The glass Earth rests on a smooth black stone surface under soft ambient lighting. A human hand executes a swift, decisive vertical slice through the globe using a surgical knife. The moment the blade severs the glass, glowing orange-red molten liquid oozes out from the core like lava, illuminating the fractured edges with internal heat. Capture detailed cracking textures, fiery reflections, bubbling sounds, and the sharp tension of impact. Ultra-sharp macro focus, shallow depth of field, and immersive ASMR from glass breaking and lava dripping—no background noise or music.\",\n\t\"title\": \"Trái đất thủy tinh ASMR\",\n\t\"caption\": \"Trái đất thủy tinh - Dung nham nóng chảy trào ra. Đây có phải là âm thanh nghe sướng tai nhất trên internet hiện nay không?\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1568,
        192
      ],
      "id": "c68da7ba-9629-4f0b-89b8-d6b05994ea8c",
      "name": "Prompt Generator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1632,
        384
      ],
      "id": "6dc14ec6-3d2f-4824-a8ad-b309ebb236b7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "D08ChqKQreTPBOSN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kieai.erweima.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.prompt }}\",\n  \"model\": \"veo3_fast\" \n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1216,
        192
      ],
      "id": "d5fc8c84-3f3f-47fb-838e-198c5e094f92",
      "name": "Generate Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Cl4iS4h5cVjqPpoR",
          "name": "Kie AI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://kieai.erweima.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        192
      ],
      "id": "f4f7db9b-b0e0-4b85-b553-d63e6beea920",
      "name": "Check Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Cl4iS4h5cVjqPpoR",
          "name": "Kie AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9788e3cd-e818-49aa-aa21-dc14998fe05b",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        192
      ],
      "id": "c70b13f8-ee82-4754-b42a-259c0581eb95",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -704,
        288
      ],
      "id": "1a0e6ec1-6e8c-4356-b3c1-eb023892723a",
      "name": "Wait",
      "webhookId": "c07be75e-6659-4b2f-bb5e-69041dca4e1a"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        176
      ],
      "id": "5a7c82af-1c33-468b-b957-a8569b6bcb01",
      "name": "Download Video"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"prompt\": \"Một cảnh quay cận cảnh siêu thực, đậm chất điện ảnh về một quả dâu tây nguyên vẹn, được làm hoàn toàn bằng thủy tinh trong suốt, sáng bóng với sắc đỏ và hồng tinh tế phản chiếu nhẹ nhàng dưới ánh sáng studio dịu nhẹ. Quả dâu tây thủy tinh nằm trên một bề mặt nhẵn bóng phản chiếu độ trong mờ tinh tế của nó. Một bàn tay con người từ từ và thận trọng cắt xuyên qua quả dâu tây thủy tinh bằng một con dao sắc, được quay bằng ống kính macro trên chân máy cố định. Ghi lại các kết cấu cực kỳ chi tiết—bề mặt thủy tinh nhẵn mịn, phản chiếu ánh sáng phức tạp, âm thanh nứt nhẹ, tiếng cắt sắc nét và những mảnh vỡ nhỏ lấp lánh. Video tập trung vào các chuyển động chậm, có chủ đích để tối đa hóa các yếu tố kích hoạt ASMR—chỉ có bàn tay, con dao và quả dâu tây thủy tinh là có thể nhìn thấy. Không có tiếng nói hay nhạc; chỉ có âm thanh thuần túy, đắm chìm của việc cắt và thao tác thủy tinh. Tiêu điểm cực kỳ sắc nét, độ sâu trường ảnh nông và ánh sáng dịu nhẹ, ấm áp tạo nên trải nghiệm ASMR thỏa mãn về mặt thị giác và âm thanh.\",\n\t\"title\": \"Dâu tây thủy tinh ASMR\",\n\t\"caption\": \"Đây có phải là âm thanh nghe sướng tai nhất trên internet hiện nay không?\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1424,
        384
      ],
      "id": "990ea240-438a-4372-9c25-b478daab46ea",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1JxuOOMXf8Acbt4lud0MfiB-x4ULzEDAJGIob8rRh8DU",
          "mode": "list",
          "cachedResultName": "VEO3 IDEAS ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JxuOOMXf8Acbt4lud0MfiB-x4ULzEDAJGIob8rRh8DU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JxuOOMXf8Acbt4lud0MfiB-x4ULzEDAJGIob8rRh8DU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Google Sheets').item.json.ID }}",
            "URL": "={{ $json.data.response.resultUrls[0] }}",
            "Title": "={{ $('Prompt Generator').item.json.output.title }}",
            "Caption": "={{ $('Prompt Generator').item.json.output.caption }}",
            "Done": "Yes"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ideas",
              "displayName": "Ideas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Done",
              "displayName": "Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -544,
        176
      ],
      "id": "a6600d33-12c5-4b5e-9d96-f6e465c558f5",
      "name": "Update Sheets with URL",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IkQMQjtg547sYWpA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $now.toFormat('MM-dd') }}-AI-Video.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wPx-gk3f4ylb3hi4VQloKav9h5cRXm4B",
          "mode": "list",
          "cachedResultName": "Product Ads",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wPx-gk3f4ylb3hi4VQloKav9h5cRXm4B"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        176
      ],
      "id": "7fff2e24-0c26-4e75-bedf-ca8945b0b68b",
      "name": "Upload to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KuL2Ozc50x1fl8jC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1888,
        192
      ],
      "id": "65d2ecc5-fef4-4ded-8f65-a1473c842ced",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Video Generation",
        "height": 460,
        "width": 860,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1248,
        96
      ],
      "id": "318d153a-b54e-4735-bbe0-c583f5b55593",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Prompt Creation",
        "height": 460,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1920,
        96
      ],
      "id": "bf590022-76c0-45f6-b2c1-1a15e7dcf43b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Upload Google Drive",
        "height": 464,
        "width": 616,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        96
      ],
      "id": "35b6341b-2cbf-4d2a-89a5-36ec96b78921",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Hướng Dẫn Cài Đặt Workflow Nano Banana + Veo3\n\nTác giả: Danh Tuấn\n\nLàm theo các bước dưới đây để thiết lập workflow kết hợp Nano Banana (tạo ảnh) và Veo3 (tạo video), cùng tính năng upload video tự động lên Google Drive.\n\nBước 1: Cài đặt Node Veo3 Kie AI\n- Truy cập: https://kie.ai/api-key\n- Tạo API Key\n\nBước 2: Setup Node Google Drive\n- Vào: https://console.cloud.google.com/\n- Tạo Project mới.\n- Bật Google Drive API.\n- Tạo OAuth 2.0 credentials.\n- Dán credentials vào node Google Drive trong n8n.\n\nBước 3: Kết nối Chatgpt API\n- Link: https://platform.openai.com/settings/organization/billing/overview\n- Add to credit balance => xác nhận mức muốn mua 5$-99$ => adđ thẻ visa => thanh toán\n\nBước 4: Kết nối với Google Sheets\n- Vào: https://console.cloud.google.com/\n- Tạo file Google Sheets để lưu input/output\n- Chia sẻ quyền “Editor” với email service của n8n (theo OAuth đã tạo ở bước 2)\n- Dán ID Sheets và tên sheet vào node Google Sheets trong workflow\n- Cấu hình input đầu vào (ảnh, mô tả) và lưu kết quả (URL video, status…)\n\nBước 5: Self-host n8n với Tino\n- Link: https://tino.vn?php=4101\n- Xem video hướng dẫn chi tiết self-host n8n từ A-Z: https://www.youtube.com/watch?v=5rnWsW0Xv8I\n\n✅ Hoàn Tất\nBây giờ chị đã có thể gửi ảnh sản phẩm, nhập ý tưởng kịch bản, workflow sẽ tự động tạo influencer bằng Nano Banana → render video với Veo3 → gửi kết quả về Telegram và lưu trên Google Drive.",
        "height": 784,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2656,
        -48
      ],
      "id": "d5770fdf-7ff2-4270-8826-d9a306944647",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Generator": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Sheets with URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Prompt Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheets with URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8b89969b-9385-494d-a97a-19e8425876cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6d61497b578f9fa268e2c626f3da87bcbe795259ad06a17419fe0c7f7c72f4a"
  },
  "id": "1BTWOetBfsSr2dW1",
  "tags": []
}